SCENE_SYNCD_HOST=127.0.0.1
SCENE_SYNCD_PORT=8787
SCENE_SYNCD_URL=http://127.0.0.1:8787
SCENE_SYNCD_TIMEOUT=30
SURREAL_URL=ws://127.0.0.1:8000
SURREAL_NS=unreal_mcp
SURREAL_DB=scene
SURREAL_USER=root
SURREAL_PASS=secret
UNREAL_MCP_HOST=127.0.0.1
UNREAL_MCP_PORT=55557
SCENE_SYNCD_AUTOSYNC=false
SCENE_SYNCD_LOG=info